@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nanum+Pen+Script&display=swap');

.card
{
  background: #1D5363;
  box-shadow: 16px 8px 3px 0 rgba(0, 0, 0, 0.6);
  padding: 2em;
  position: relative;
  width: 40em;
  height: 30em;

}
.title{
  text-decoration: underline  wavy white;
  font-size: 45px;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  background: #1D5363;
}
.paragraph{
  font-size: 20px;
  line-height: 1.7;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  background: #1D5363;
}
.heart {
  bottom: 4em;
  position: absolute;
  right: 4em;
}

.heart::before,
.heart::after {
  background-color:#21776f;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 25px;
  left: 15px;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 15px;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.container{
display:flex;
justify-content: center;
padding-block-start: 15%;

}

