$enlaces: #74C7A9;

@mixin altoAncho ($alto, $ancho){
  height: $alto;
  width: $ancho;
}
@mixin centradoXY{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and ( min-width: 1000px ) {
.box .box {
  width:100px;
  height:100px;
  border-radius:50px;
  margin-left:40px;
 cursor:pointer;
 margin: 0 auto;        
 position: absolute;
 z-index: 1000;
 
}
  .one{
    background:#27ae60;
    @include altoAncho (45px, 45px);
        position: absolute;
        border-radius: 50%;
        border: 3px solid $enlaces;
        @include centradoXY;
        overflow: hidden;
        top: 700%;
        left: 70%;
      
  }
  .two{
    background:#2980b9;
    @include altoAncho (45px, 45px);
        position: absolute;
        border-radius: 50%;
        border: 3px solid $enlaces;
        @include centradoXY;
        overflow: hidden;
        top: 680%;
        left: 83%;
        
  }

  .three {
    background:#f1c40f;
    @include altoAncho (45px, 45px);
        position: absolute;
        border-radius: 50%;
        border: 3px solid $enlaces;
        @include centradoXY;
        overflow: hidden;
        top: 710%;
        left: 54%;
        
}
}