$pink: #fd6e72;
$purple: #222222;
$cream: #fdf9de;


$duration: 12s;
$total-kf: 15;
$tail-wags: 14;

$k-tail: (
  1: rotate(0),
  1.5: rotate(10deg),
  // 2: rotate(0),
  2.5: rotate(-5deg),
  3: rotate(30deg),
  4: rotate(-2deg),
  7: rotate(10deg),
  8: rotate(-5deg),
  8.5: rotate(10deg),
);

$k-left-whisker: (
  1: rotate(0),
  1.5: rotate(0deg),
  2.5: rotate(-5deg),
  3: rotate(0deg),
  4: rotate(0deg),
  7: rotate(10deg),
  8: rotate(-5deg),
  8.5: rotate(10deg),
);
$k-right-whisker: (
  1: rotate(180deg),
  1.5: rotate(190deg),
  2.5: rotate(180deg),
  3: rotate(175deg),
  4: rotate(190deg),
  7: rotate(180deg),
  8: rotate(185deg),
  8.5: rotate(175deg),
);


@mixin effect($name, $kf) {
  @keyframes #{$name} {
    @each $interval, $transform in $kf {
      #{percentage($interval/$total-kf)} {
        transform: $transform;
      }
    }
  }
}

@include effect('tail', $k-tail);
@include effect('left-whisker', $k-left-whisker);
@include effect('right-whisker', $k-right-whisker);


.main{ 
  position: absolute;
  display: flex;
  top: 20%;
  left: 83%;
  
  .stand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    height: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: $pink;
    z-index: 2;
    &::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    height: 10px;
    width: 50px;
    border-radius: 20px;
    background-color: $cream;
    }
    
  }
  .cat{
    width: 110px;
    height: 50px;
    position: absolute;
    top: calc(50% - 50px);
    right: 130px;
    border-top-left-radius: 50px * 2;
    border-top-right-radius: 50px * 2;

    
    .body{
     width: 110px;
    height: 50px;
    background-color: $purple;
    position: absolute;
    border-top-left-radius: 50px * 2;
    border-top-right-radius: 50px * 2;
    
    }
    .head{
      content: "";
      width: 70px;
      height: 35px;
      background-color: $purple;
      position: absolute;
      top: calc(50% - 10px);
      left: -40px;
      border-top-left-radius: 40px * 2;
      border-top-right-radius: 40px * 2;
    
    }
  }
  
}

.tailContainer{
  position: absolute;
  right: 0;
  bottom: -13px;
  z-index: 3;
}
.tail {
  position: absolute;
  height: 30px;
  width: 14px;
  bottom: -10px;
  right: 0;
  border-bottom-right-radius: 5px;
  background: $purple;
  z-index: 0;
  
  > .tail {
    animation: tail $duration none infinite;
    height: 100%;
    width: 14px;
    transform-origin: left;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 40px;
  }
}
.ear{
  position: absolute;
  left: 4px;
  top: -4px;
  width: 0; 
  height: 0; 
  background: transparent;
  border-left: 12px solid transparent;
  border-right:12px solid transparent;
  border-bottom:20px solid $purple;
  
 
  
   + .ear {
    background: transparent;
     top: -12px;
     left: 30px;

  }
}
  .nose{
    position: absolute;
    bottom: 10px;
    left: -10px;
    background-color: $pink;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}
  .whiskerContainer {
    background: transparent;
    position: absolute;
    bottom: 5px;
    left: -36px;
    width: 20px;
    height: 10px;
    transform-origin: right;
    animation: left-whisker $duration both infinite;

    &:nth-child(2) {
        left: -20px;
        bottom:12px;
        transform-origin: right;
        transform: rotate(180deg);
        animation: right-whisker $duration both infinite;


    }
}
                                
.whisker {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid $cream;
    transform-origin: 100% 0;
    transform: rotate(10deg);

    &:last-child {
        top: 0;
        transform: rotate(-20deg);
    }
}
